* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-image: url(images/bg-desktop.svg);
    background-size: cover;
    background-repeat: no-repeat center;
    width: 100%;
    height: 100%;
    background-color: hsl(257, 40%, 49%);
}



.main-content {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 3rem;
}

.left-content,
.right-content {
    padding: 0 3rem;

}

.mockup-item {
    width: 30rem;
    height: 400px;
}



